<template name="dashboardContent">

<section class="content-wrap">
<div class="container youplay-content">

      <div class="row">

        <div class="col-md-9">

          <div class="row">
            <div class="col-md-6">
              <ul class="pagination pagination-sm mt-0">                
                <li>
                  <a class="compose-message">Compose Board Message</a>
                </li>
              </ul>
            </div>

            <form id="invite-member-form">
            <div class="col-md-3">
              <ul class="pagination pagination-sm mt-0">
                <li>
                  <div class="youplay-input"> 
                    <input type="text" name="username" id="messages_search" placeholder="Invite Members">
                  </div>                
                </li>                
              </ul>
            </div>

            <div class="cold-md-2">              
              <button class="btn btn-default" type='submit'>Invite</button>
            </div>
          </form>
          </div>

          <div id="compose-message-row" class="row hidden">
            <div class="col-md-12">
            <form id="message-board-form">            
            <div class="youplay-input">
              <input type="text" placeholder="Subject" name="message-subject">
            </div>
            <div class="youplay-textarea">
              <textarea placeholder="Message" name="message" rows="5"></textarea>
            </div>
            <button id="submit-board-message" class="btn btn-default pull-right" type="submit">Submit</button>
          </form>
        </div>
          </div>

          
          <table class="youplay-messages table table-hover">
            <tbody>

              {{#each message}}
                <tr class="message-unread">
                  <td class="message-from">
                    <a href="#" class="message-from-name" title="Kiki Cuyler">{{username}}</a>
                    <br>
                    <span class="date">{{timestamp}}</span>
                  </td>
                  <td class="message-description">
                    <a href="#" class="message-description-name" title="View Message">{{subject}}</a>
                    <br>
                    <div class="message-excerpt">message</div>
                  </td>
                  <td class="message-action">                    
                    <a class="message-delete" href="#"><i class="fa fa-times"></i></a>
                  </td>
                </tr>
              {{/each}}
             <!--  <tr>
                <td class="message-from">
                  <a href="#" class="angled-img">
                    <div class="img">
                      <img src="assets/images/avatar-user-2.png" width="80" height="80" alt="">
                    </div>
                  </a>

                  <a href="#" class="message-from-name" title="Kiki Cuyler">Kiki Cuyler</a>
                  <br>
                  <span class="date">9th Dec 2015 at 11:57 pm</span>
                </td>
                <td class="message-description">
                  <a href="#" class="message-description-name" title="View Message">Curabitur nec tellus. In semper</a>
                  <br>
                  <div class="message-excerpt">Quisque sagittis neque. Vestibulum laoreet. Nullam cursus, odio...</div>
                </td>
                <td class="message-action">
                  <a class="message-delete" href="#"><i class="fa fa-times"></i></a>
                </td>
              </tr>

              <tr>
                <td class="message-from">
                  <a href="#" class="angled-img">
                    <div class="img">
                      <img src="assets/images/avatar-user-3.png" width="80" height="80" alt="">
                    </div>
                  </a>

                  <a href="#" class="message-from-name" title="Kiki Cuyler">Kiki Cuyler</a>
                  <br>
                  <span class="date">9th Dec 2015 at 11:57 pm</span>
                </td>
                <td class="message-description">
                  <a href="#" class="message-description-name" title="View Message">Duis ultricess</a>
                  <br>
                  <div class="message-excerpt">Aliquam et tellus. Nullam sed nisl. Nullam lobortis dui at...</div>
                </td>
                <td class="message-action">
                  <a class="message-delete" href="#"><i class="fa fa-times"></i></a>
                </td>
              </tr>

              <tr>
                <td class="message-from">
                  <a href="#" class="angled-img">
                    <div class="img">
                      <img src="assets/images/avatar.png" width="80" height="80" alt="">
                    </div>
                  </a>

                  <a href="#" class="message-from-name" title="Kiki Cuyler">Kiki Cuyler</a>
                  <br>
                  <span class="date">9th Dec 2015 at 11:57 pm</span>
                </td>
                <td class="message-description">
                  <a href="#" class="message-description-name" title="View Message">In semper</a>
                  <br>
                  <div class="message-excerpt">:)</div>
                </td>
                <td class="message-action">
                  <a class="message-delete" href="#"><i class="fa fa-times"></i></a>
                </td>
              </tr>

              <tr class="message-unread">
                <td class="message-from">
                  <a href="#" class="angled-img">
                    <div class="img">
                      <img src="assets/images/avatar-user-4.png" width="80" height="80" alt="">
                    </div>
                  </a>

                  <a href="#" class="message-from-name" title="Kiki Cuyler">Kiki Cuyler</a>
                  <br>
                  <span class="date">9th Dec 2015 at 11:57 pm</span>
                </td>
                <td class="message-description">
                  <a href="#" class="message-description-name" title="View Message">Proin tempus porta dui</a>
                  <br>
                  <div class="message-excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras...</div>
                </td>
                <td class="message-action">
                  <span class="messages-count">+2</span>
                  <a class="message-delete" href="#"><i class="fa fa-times"></i></a>
                </td>
              </tr>
 -->
            </tbody>

          </table>


        </div>

        <!-- Left Side -->
        <div class="col-md-3">
          <div class="side-block">
            <h4 class="block-title">About</h4>
            <div class="block-content">
              {{guildAbout}}
            </div>
          </div>
        </div>


        <div class="col-md-3">
          <div class="side-block">
            <h4 class="block-title">Members</h4><span id="display-guild-members" class="fa fa-toggle-off fa-2x pull-right"></span>
            <div id="guild-member-list" class="block-content hidden">
              <ul>
              {{#each guildMembers}}
                <li>{{rank}}:{{name}}</li>
              {{/each}}
            </ul>
            </div>
          </div>
        </div>


        <!-- Left Side -->

      </div>

    </div>

    <!-- Footer -->
    <footer class="youplay-footer-parallax">
      <div class="wrapper" style="background-image: url('assets/images/footer-bg.jpg')">

        <!-- Social Buttons -->
        <div class="social">
          <div class="container">
            <h3>Connect socially with <strong>youplay</strong></h3>

            <div class="row icons">
              <div class="col-xs-6 col-sm-3">
                <a href="#!">
                  <i class="fa fa-facebook-square"></i>
                  <span>Like on Facebook</span>
                </a>
              </div>
              <div class="col-xs-6 col-sm-3">
                <a href="#!">
                  <i class="fa fa-twitter-square"></i>
                  <span>Follow on Twitter</span>
                </a>
              </div>
              <div class="col-xs-6 col-sm-3">
                <a href="#!">
                  <i class="fa fa-twitch"></i>
                  <span>Watch on Twitch</span>
                </a>
              </div>
              <div class="col-xs-6 col-sm-3">
                <a href="#!">
                  <i class="fa fa-youtube-square"></i>
                  <span>Watch on Youtube</span>
                </a>
              </div>
            </div>

          </div>
        </div>
        <!-- /Social Buttons -->

        <!-- Copyright -->
        <div class="copyright">
          <div class="container">
            <strong>nK</strong> &copy; 2015. All rights reserved
          </div>
        </div>
        <!-- /Copyright -->

      </div>
    </footer>
    <!-- /Footer -->

  </section>
  <!-- /Main Content -->

  <!-- Search Block -->
  <div class="search-block">
    <a href="#!" class="search-toggle glyphicon glyphicon-remove"></a>
    <form action="search.html">
      <div class="youplay-input">
        <input type="text" name="search" placeholder="Search...">
      </div>
    </form>
  </div>
  <!-- /Search Block -->

</template>