<template name="chat">
	<div id="chatbox">
      <div class="container">
      	{{#if Template.subscriptionsReady}}
      	<div class="row">      	
      		<div class="col-md-12">
				<div class="info chat">
					<div id="chat-div"> 

					
						{{#each invite}}
							<div class="info" style="opacity: .85; transform: translate3d(0px, 0px, 0px); background-color:#222; position:absolute; right:0px; width:300px">
					        <div>
					          <div class="container youplay-user">					                          
					            <div class="user-data">
					              <h2>{{guildName}}</h2>					              
					              <div class="activity" style='position:absolute;top:0px;left:40px'>
					                <div>
					                  <div class="num">{{noUsers}}</div>
					                  <div class="title">Members</div>
					                </div>					               
					              </div>
					            </div>
					          </div>
					          <div class="container mt-20" style='position:absolute; bottom:1px; left:-10px;'>
					            <a id="accept-invite" class="btn btn-sm btn-default ml-0">Accept</a>
					            <a id="decline-invite" class="btn btn-sm btn-default">Decline</a>
					          </div>
					        </div>
					      </div>
					      {{/each}}
					
						<ul class="block-content">							
							<li>Guild Message Of the Day:{{messageOfTheDay}}</li>
							
							{{#each messages activeGuild}}
								<li><a href="#!">{{user}} {{time}}</a>{{message}}</li>
							{{/each}}
						</ul>
					</div>
				</div>
			</div>
		</div>	
		<div class="row manage-bar">
			<div class="col-md-12">
		      <div class="youplay-user-navigation">
		        <div class="container">
		          <ul>
		          	{{#each guilds}}
		            	<li class='guild-list-item {{#if isActive this}} active {{/if}}'><a href="user-activity.html">{{guildName}}</a></li>
		            {{/each}}
		          </ul>
		        </div>
		      </div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="youplay-input">
					<form id='chat-input'>
						<input type="text" placeholder="Enter message..." name="chatInput">
						<button class="btn btn-default text-send-button" type='submit'>Send</button>
					</form>
				</div>
			</div>
		</div>
		{{else}}
		<div class="row">
			  <div class="page-preloader preloader-wrapp">
	    		<img src="assets/images/logo.png" alt="">
	    		<div class="preloader"></div>
	  		</div>
  		</div>
		{{/if}}
	</div>
	</div>

	{{>dashboardContent}}
</template>