<template name="marketing">

<section class="content-wrap">

    <!-- Banner -->
    <section class="youplay-banner banner-top youplay-banner-parallax" style="background-image: none; background-attachment: scroll; background-size: auto;"><div id="jarallax-container-2" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; transition: transform linear -1ms, -webkit-transform linear -1ms; visibility: hidden; z-index: -100;"><div style="position: fixed; top: 0px; left: 0px; width: 1105px; height: 1105px; overflow: hidden; pointer-events: none; transition: transform linear -1ms, -webkit-transform linear -1ms; margin-left: 0px; margin-top: -107.5px; visibility: visible; background-image: url(&quot;data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7&quot;); background-size: 100% 100%; background-position: 50% 50%; background-repeat: no-repeat;"></div></div>
      <div class="image" style="transform: translate3d(0px, 0px, 0px); background-image: url(&quot;/blizzGames.png&quot;);">
      </div>

      <div class="info" style="opacity: 1; transform: translate3d(0px, 0px, 0px);">
        <div>
          <div class="container">
            <h2>BNetGuild.com <br>Guild Website for Blizzard © Games</h2>
            <em>**Not Affiliated with Blizzard ©</em>
            <br>
            <br>
            <br>
            <a class="btn btn-lg" href="#!">Learn more</a>
          </div>
        </div>
      </div>
    </section>
    <!-- /Banner -->
  
    <!-- Latest News -->    
    <section class="youplay-news container">
      <!-- Single News Block -->
      <div class="news-one row vertical-gutter">
        <div class="col-md-4">          
            <div class="img">
              <img src="http://us.battle.net/hearthstone/static/images/whispers-of-the-old-gods/prepurchase-cards.png" alt="">
            </div>                      
        </div>
        <div class="col-md-8">
          <div class="clearfix">
            <h3 class="h2 pull-left m-0"><a href="blog-post-1.html">Sign in through Battle.net to get started!</a></h3>            
          </div>
          <div class="tags">            
          </div>
          <div class="description">            
            <p>
              We use the Battle.net API for user login and authentication. This keeps your password under lock and key, and allows BattleNetGuild to access data on your behalf.
            </p>
            <p>
              The Battle.net API gives us the potential to add more services in the future focused on improving your gaming experience.
            </p>
            <p>
              More info there <a></a>
            </p>

          </div>
          <a href="blog-post-1.html" class="btn read-more pull-left">Read More</a>
        </div>
      </div>
      <!-- /Single News Block -->

      <!-- Single News Block -->
      <div class="news-one row vertical-gutter">
        <div class="col-md-4">         
            <div class="img">
              <img src="http://www.capsulecomputers.com.au/wp-content/uploads/2014/11/Overwatch-Logo-01-600x323.jpg" alt="">
            </div>                    
        </div>
        <div class="col-md-8">
          <div class="clearfix">
            <h3 class="h2 pull-left m-0"><a href="blog-post-2.html">Create a guild or join up to 5 guilds!</a></h3>            
          </div>
          <div class="description">
            <p>Every user can create his/her own guild! No guild ledger required!</p>
            <p>You are free to join up to 5 guilds. You can have a guild for each game that you play, or one for them all.</p>
          </div>
          <a href="blog-post-2.html" class="btn read-more pull-left">Read More</a>
        </div>
      </div>
      <!-- /Single News Block -->

      <!-- Single News Block -->
      <div class="news-one row vertical-gutter">
        <div class="col-md-4">
            <div class="img">
              <img src="http://media.blizzard.com/heroes/images/media/wallpaper/heroes_1280x1024.jpg" alt="">
            </div>
        </div>
        <div class="col-md-8">
          <div class="clearfix">
            <h3 class="h2 pull-left m-0"><a href="blog-post-3.html">Review Kingdoms of Amalur</a></h3>            
          </div>
          <div class="tags">
            <i class="fa fa-tags"></i>  <a href="#">Kingdoms of Amalur</a>, <a href="#">game</a>, <a href="#">review</a>
          </div>
          <div class="description">
            Quod satis pecuniae sempiternum. Ut sciat oportet motum. Nunquam invenies eum. Hic de tabula. Ego vivere, ut debui, et nunc fiant. Istuc quod opus non est. Lorem ipsum occurrebat pragmaticam semper ut, si quis ita velim tibi bene recognoscere. Quorum
            duo te mihi videtur.
          </div>
          <a href="blog-post-3.html" class="btn read-more">Read More</a>
        </div>
      </div>
      <!-- /Single News Block -->
    </section>
    <!-- /Latest News -->

    <!-- Features -->    
    <section class="youplay-features container">
      <div class="col-md-3 col-sm-6">
        <a class="feature angled-bg" href="#">
          <i class="fa fa-calendar-o"></i>
          <h3>Organize</h3>
          <small>Communicate with your friends</small>
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="feature angled-bg">
          <i class="fa fa-gamepad"></i>
          <h3>Games</h3>
          <small>Play better games</small>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="feature angled-bg">
          <i class="glyphicon glyphicon-screenshot"></i>
          <h3>Focus</h3>
          <small>Pew Pew</small>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="feature angled-bg">
          <i class="fa fa-users"></i>
          <h3>Community</h3>
          <small>Foster a community</small>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="youplay-footer-parallax" style="background-image: none; background-attachment: scroll; background-size: auto;">

      <div class="wrapper" style="transform: translate3d(0px, -50%, 0px);">

        <!-- Copyright -->
        <div class="copyright" style="margin-top:20px">
          <div class="container">
            <strong>BattleNetGuild.com</strong> © 2016. All rights reserved
          </div>
        </div>
        <!-- /Copyright -->

      </div>
    </footer>
    <!-- /Footer -->
  </section>
</template>